# configuration for authorized and required reviewers
* @rvanheest

# code
# no overrides

# documentation
# no overrides

# policies
/.github/PULL_REQUEST_TEMPLATE.md @DANS-KNAW/easy-leads
/.github/CODEOWNERS @DANS-KNAW/easy-leads
