/target/
/pom.xml.tag
/pom.xml.releaseBackup
/pom.xml.versionsBackup
/pom.xml.next
/release.properties
/dependency-reduced-pom.xml
/buildNumber.properties
/init-project.sh
*.class
*~
*.swp
/*.iml
*.sc
/.idea/
.DS_Store
/apphome.sh
/home/
/data/
/data-*/
/.vagrant/
/.yum-repo
/.dans.knaw.nl-yum-repo
*.retry

# Eclipse
/.project
/.settings
/.classpath
/.cache
