<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appender name="FILE"
		class="ch.qos.logback.core.FileAppender">
		<file>out/easy-bag-store.log</file>
		<encoder>
			<pattern>[%thread] %-5level %logger{10} - %msg%n</pattern>
		</encoder>
	</appender>
	<root level="warn">
		<appender-ref ref="FILE" />
	</root>
	<logger name="nl.knaw.dans.easy" level="debug" />

    <!-- Shut up the bagit lib 4 about there not being a "fetch status" code in fetch.txt, which is not in the standard -->
    <logger name="gov.loc.repository.bagit.impl.FetchTxtReaderImpl" level="off" />
</configuration>
