<?xml version="1.0" encoding="utf-8"?>
<configuration scan="true" scanPeriod="1 minute">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%-5level] %logger{15} - %msg %n</pattern>
		</encoder>
	</appender>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>data/easy-bag-store.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>data/easy-bag-store.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>[%date{ISO8601}] %-5level %msg%n</pattern>
		</encoder>
	</appender>
	<root level="warn">
		<appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
	</root>
	<logger name="nl.knaw.dans.easy" level="trace" />

    <!-- Shut up the bagit lib 4 about there not being a "fetch status" code in fetch.txt, which is not in the standard -->
    <logger name="gov.loc.repository.bagit.impl.FetchTxtReaderImpl" level="off" />
</configuration>
